body {
	text-align: center;
	background-color: #e0dbc5;
}
.teamTable {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	min-height: 0;
	width: 50%;
	margin: 0 auto;
	gap: 20px;
}
li {
	list-style-type: none;
	font-size: 18px;
	padding: 5px 10px;
}

textarea {
	height: 120px;
	width: 220px;
}

.container {
	min-height: 50px;
	padding: 10px;
	background-color: #1c1c1c;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	color: white;
}
.container li {
	font-size: 20px;
	display: flex;
}
.nameHolder li:hover {
	color: red;
	cursor: pointer;
}
.heading {
	display: flex;
	justify-content: center;
	gap: 10px;
}
