body {
	text-align: center;
}
.teamTable {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	min-height: 0;
	gap: 20px;
}
li {
	list-style-type: none;
	font-size: 18px;
	padding: 5px 10px;
}

textarea {
	height: 120px;
	width: 220px;
}

.container {
	min-height: 50px;
	padding: 10px;
	background-color: #f4f4f4;
	border-radius: 8px;
}
li {
	font-size: 20px;
}
.nameHolder li:hover {
	color: red;
	cursor: pointer;
}
.heading {
	display: flex;
	justify-content: center;
	gap: 10px;
}
